<!-- wp:template-part {"slug":"header-ecommerce-search"} /-->

<!-- wp:group {"style":{"color":{"background":"#5661690d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#5661690d"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-background"}}},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"backgroundColor":"custom-secondary","textColor":"custom-background","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-background-color has-custom-secondary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:query-title {"type":"archive","showPrefix":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-background"}}},"typography":{"fontStyle":"normal","fontWeight":"300"}},"textColor":"custom-background"} /-->

<!-- wp:yoast-seo/breadcrumbs /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"kaksi/3-columns-archive-loop"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->